{% extends 'base.html' %}

{% block body %}
<div class="recipe-detail-container">
    <h1 class="recipe-title">{{ recipe['title'] }}</h1>

    <div class="recipe-image-container">
        <img src="{{ recipe['image'] }}" alt="{{ recipe['title'] }}" class="recipe-image">
    </div>

    <div class="recipe-meta">
        <span>Preparation time: {{ recipe['preparationMinutes'] }} minutes</span>
        <span>Cooking time: {{ recipe['cookingMinutes'] }} minutes</span>
        <span>Servings: {{ recipe['servings'] }}</span>
    </div>

    <h2>Ingredients:</h2>
    <ul class="ingredients-list">
        {% for ingredient in recipe['extendedIngredients'] %}
        <li>{{ ingredient['original'] }}</li>
        {% endfor %}
    </ul>

    <h2>Instructions:</h2>
    <div class="instructions">
        {{ recipe['instructions'] | safe }}
    </div>

    <div class="source-link">
        <a href="{{ recipe['sourceUrl'] }}" target="_blank">Full recipe here</a>
    </div>
{% if nutrition %}
    <!-- Display nutrition information here -->
    <div class="nutrition-info">
        <p>Calories: {{ nutrition.calories }}</p>
        <p>Carbs: {{ nutrition.carbs }}</p>
        <p>Fat: {{ nutrition.fat }}</p>
        <p>Protein: {{ nutrition.protein }}</p>
        <!-- Add more fields as necessary -->
    </div>
{% endif %}
</div>
{% endblock %}
