{% extends 'base.html' %}

{% block body %}


<div class="recipe-container">
    {% for recipe in recipes %}
    <div class="recipe-card">
        <a href="{{ url_for('recipe_detail', recipe_id=recipe['id']) }}">
            <img src="{{ recipe['image'] }}" alt="{{ recipe['title'] }}" class="recipe-image">
        </a>
        <div class="recipe-info">
            <h5>
                <a href="{{ url_for('recipe_detail', recipe_id=recipe['id']) }}" class="recipe-title">{{ recipe['title'] }}</a>
            </h5>
            <!-- Autres détails de la recette -->
        </div>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    {% if page > 1 %}
    <a href="{{ url_for('search_page', page=page-1) }}" class="btn btn-primary">← Précédent</a>
    {% else %}
    <button class="btn btn-primary btn-disabled" disabled>← Précédent</button>
    {% endif %}

    <!-- Affichage du numéro de page -->
    <span class="page-number">Page {{ page }} sur {{ total_pages }}</span>

    {% if page < total_pages %}
    <a href="{{ url_for('search_page', page=page+1) }}" class="btn btn-primary">Suivant →</a>
    {% else %}
    <button class="btn btn-primary btn-disabled" disabled>Suivant →</button>
    {% endif %}
</div>
{% endblock %}
