{% extends 'base.html' %}

{% block body %}
<div class="container mt-5">
    {% if confirmation %}
    <div class="alert alert-success" role="alert">
        Votre profil a été mis à jour avec succès !
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title"><i class="fas fa-user"></i> Profil de l'utilisateur</h3>
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('user_profile') }}">
                        <div class="form-group">
                            <label for="firstName">Prénom</label>
                            <input type="text" class="form-control" id="firstName" name="firstName"
                                   placeholder="Entrez votre prénom" value="{{ user_data.get('firstName', '') }}">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Nom</label>
                            <input type="text" class="form-control" id="lastName" name="lastName"
                                   placeholder="Entrez votre nom" value="{{ user_data.get('lastName', '') }}">
                        </div>
                        <div class="form-group">
                            <label for="sex">Sexe</label>
                            <select class="form-control" id="sex" name="sex">
                                <option value="">Sélectionnez...</option>
                                <option value="Female" {% if user_data.get(
                                'sex') == 'Female' %}selected{% endif %}>Femme</option>
                                <option value="Male" {% if user_data.get(
                                'sex') == 'Male' %}selected{% endif %}>Homme</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="age">Âge</label>
                            <input type="number" class="form-control" id="age" name="age" placeholder="Entrez votre âge"
                                   value="{{ user_data.get('age', '') }}">
                        </div>
                        <div class="form-group">
                            <label for="dietaryRestrictions">Restrictions alimentaires:</label><br>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="vegetarian" id="vegetarian"
                                       name="dietaryRestrictions" {% if 'vegetarian' in
                                user_data.get('dietaryRestrictions', []) %}checked{% endif %}>
                                <label class="form-check-label" for="vegetarian">
                                    Végétarien
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="vegan" id="vegan"
                                       name="dietaryRestrictions" {% if 'vegan' in user_data.get('dietaryRestrictions',
                                []) %}checked{% endif %}>
                                <label class="form-check-label" for="vegan">
                                    Végétalien
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="glutenFree" id="glutenFree"
                                       name="dietaryRestrictions" {% if 'glutenFree' in
                                user_data.get('dietaryRestrictions', []) %}checked{% endif %}>
                                <label class="form-check-label" for="glutenFree">
                                    Sans gluten
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="dairyFree" id="dairyFree"
                                       name="dietaryRestrictions" {% if 'dairyFree' in
                                user_data.get('dietaryRestrictions', []) %}checked{% endif %}>
                                <label class="form-check-label" for="dairyFree">
                                    Sans produits laitiers
                                </label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary mt-3"><i class="fas fa-save"></i> Mettre à jour le
                            profil
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-top: 15px">
        <h3 class="mt-4">Ingrédients à ma disposition</h3>
        <form method="POST" action="{{ url_for('add_ingredient') }}" style="display: flex; align-items: center;">
            <select name="ingredient_name" id="ingredient_name" required onchange="updateUnit()">
                <option value="">Sélectionnez un ingrédient</option>
                {% for ingredient in ingredients %}
                <option value="{{ ingredient }}">{{ ingredient }}</option>
                {% endfor %}
            </select>
            <input type="number" name="ingredient_amount" placeholder="Quantité" required style="margin-left: 10px;">
            <input type="text" name="ingredient_unit" id="ingredient_unit" readonly>
            <button class="btn btn-primary" type="submit" style="margin-left: 10px;">Ajouter</button>
        </form>

        <ul>
            {% for ingredient in user_data.get('ingredients', []) %}
            <li>{{ ingredient.name }}: {{ ingredient.amount }} {{ ingredient.unit }}</li>
            {% endfor %}
        </ul>

        <!-- Nouveau formulaire pour la suppression des ingrédients -->
        <form method="POST" action="{{ url_for('clear_ingredients') }}">
            <button class="btn btn-danger" type="submit" style="margin-top: 10px;">Supprimer tous les ingrédients</button>
        </form>
    </div>

    <h3 class="mt-4">Suivi des AJR</h3>

    <div class="mt-3">
        <label for="calories">Calories:</label>
        <div class="progress">
            {% set sex = 'Male' if user_data.get('sex', 'Male') == 'Male' else 'Female' %}
            {% set recommended_calories = nutrition_data.get(age_group, {}).get(sex, {}).get('Calories', 0) %}

            <div class="progress-bar" role="progressbar"
                 style="width: {{ (user_data.get('calories', 0) / recommended_calories) * 100 }}%"
                 aria-valuenow="{{ user_data.get('calories', 0) }}"
                 aria-valuemin="0" aria-valuemax="{{ recommended_calories }}">
                {{ user_data.get('calories', 0) }} / {{ recommended_calories }}
            </div>
        </div>
    </div>


    <div class="mt-3">
        <label for="proteins">Protéines:</label>
        <div class="progress">
            {% set recommended_protein = nutrition_data.get(age_group, {}).get(sex, {}).get('Protein', 0) %}
            {% set protein_percentage = (user_data.get('proteins', 0) / recommended_protein) * 100 %}
            <div class="progress-bar bg-success" role="progressbar"
                 style="width: {{ protein_percentage }}%"
                 aria-valuenow="{{ user_data.get('proteins', 0) }}"
                 aria-valuemin="0" aria-valuemax="{{ recommended_protein }}">
                {{ protein_percentage|round(2) }}%
            </div>
        </div>
    </div>

    <div class="mt-3">
        <label for="fats">Lipides:</label>
        <div class="progress">
            {% set recommended_fat = nutrition_data.get(age_group, {}).get(sex, {}).get('Fat', 0) %}
            {% set fat_percentage = (user_data.get('fats', 0) / recommended_fat) * 100 %}
            <div class="progress-bar bg-info" role="progressbar"
                 style="width: {{ fat_percentage }}%"
                 aria-valuenow="{{ user_data.get('fats', 0) }}"
                 aria-valuemin="0" aria-valuemax="{{ recommended_fat }}">
                {{ fat_percentage|round(2) }}%
            </div>
        </div>
    </div>

    <div class="mt-3">
        <label for="carbs">Glucides:</label>
        <div class="progress">
            {% set recommended_carbs = nutrition_data.get(age_group, {}).get(sex, {}).get('Carbs', 0) %}
            {% set carbs_percentage = (user_data.get('carbs', 0) / recommended_carbs) * 100 %}
            <div class="progress-bar bg-warning" role="progressbar"
                 style="width: {{ carbs_percentage }}%"
                 aria-valuenow="{{ user_data.get('carbs', 0) }}"
                 aria-valuemin="0" aria-valuemax="{{ recommended_carbs }}">
                {{ carbs_percentage|round(2) }}%
            </div>
        </div>
    </div>

    <div id="additional-nutrients" class="hidden">
        <div class="mt-3">
            <label for="calcium">Calcium:</label>
            <div class="progress">
                {% set recommended_calcium = nutrition_data.get(age_group, {}).get(sex, {}).get('Calcium', 0) %}
                <div class="progress-bar" role="progressbar"
                     style="width: {{ (user_data.get('calcium', 0) / recommended_calcium) * 100 }}%"
                     aria-valuenow="{{ user_data.get('calcium', 0) }}"
                     aria-valuemin="0" aria-valuemax="{{ recommended_calcium }}">
                    {{ user_data.get('calcium', 0) }} / {{ recommended_calcium }} mg
                </div>
            </div>
        </div>
    
        <div class="mt-3">
            <label for="iron">Fer:</label>
            <div class="progress">
                {% set recommended_iron = nutrition_data.get(age_group, {}).get(sex, {}).get('Iron', 0) %}
                <div class="progress-bar" role="progressbar"
                     style="width: {{ (user_data.get('iron', 0) / recommended_iron) * 100 }}%"
                     aria-valuenow="{{ user_data.get('iron', 0) }}"
                     aria-valuemin="0" aria-valuemax="{{ recommended_iron }}">
                    {{ user_data.get('iron', 0) }} / {{ recommended_iron }} mg
                </div>
            </div>
        </div>
    
        <div class="mt-3">
            <label for="magnesium">Magnésium:</label>
            <div class="progress">
                {% set recommended_magnesium = nutrition_data.get(age_group, {}).get(sex, {}).get('Magnesium', 0) %}
                <div class="progress-bar" role="progressbar"
                     style="width: {{ (user_data.get('magnesium', 0) / recommended_magnesium) * 100 }}%"
                     aria-valuenow="{{ user_data.get('magnesium', 0) }}"
                     aria-valuemin="0" aria-valuemax="{{ recommended_magnesium }}">
                    {{ user_data.get('magnesium', 0) }} / {{ recommended_magnesium }} mg
                </div>
            </div>
        </div>
    
        <div class="mt-3">
            <label for="potassium">Potassium:</label>
            <div class="progress">
                {% set recommended_potassium = nutrition_data.get(age_group, {}).get(sex, {}).get('Potassium', 0) %}
                <div class="progress-bar" role="progressbar"
                     style="width: {{ (user_data.get('potassium', 0) / recommended_potassium) * 100 }}%"
                     aria-valuenow="{{ user_data.get('potassium', 0) }}"
                     aria-valuemin="0" aria-valuemax="{{ recommended_potassium }}">
                    {{ user_data.get('potassium', 0) }} / {{ recommended_potassium }} mg
                </div>
            </div>
        </div>
    
        <div class="mt-3">
            <label for="zinc">Zinc:</label>
            <div class="progress">
                {% set recommended_zinc = nutrition_data.get(age_group, {}).get(sex, {}).get('Zinc', 0) %}
                <div class="progress-bar" role="progressbar"
                     style="width: {{ (user_data.get('zinc', 0) / recommended_zinc) * 100 }}%"
                     aria-valuenow="{{ user_data.get('zinc', 0) }}"
                     aria-valuemin="0" aria-valuemax="{{ recommended_zinc }}">
                    {{ user_data.get('zinc', 0) }} / {{ recommended_zinc }} mg
                </div>
            </div>
        </div>
    
        <div class="mt-3">
            <label for="vitaminA">Vitamine A:</label>
            <div class="progress">
                {% set recommended_vitamin_a = nutrition_data.get(age_group, {}).get(sex, {}).get('Vitamin A', 0) %}
                <div class="progress-bar" role="progressbar"
                     style="width: {{ (user_data.get('vitamin A', 0) / recommended_vitamin_a) * 100 }}%"
                     aria-valuenow="{{ user_data.get('vitamin A', 0) }}"
                     aria-valuemin="0" aria-valuemax="{{ recommended_vitamin_a }}">
                    {{ user_data.get('vitamin A', 0) }} / {{ recommended_vitamin_a }} mcg
                </div>
            </div>
        </div>
    
        <div class="mt-3">
            <label for="vitaminE">Vitamine E:</label>
            <div class="progress">
                {% set recommended_vitamin_e = nutrition_data.get(age_group, {}).get(sex, {}).get('Vitamin E', 0) %}
                <div class="progress-bar" role="progressbar"
                     style="width: {{ (user_data.get('vitamin E', 0) / recommended_vitamin_e) * 100 }}%"
                     aria-valuenow="{{ user_data.get('vitamin E', 0) }}"
                     aria-valuemin="0" aria-valuemax="{{ recommended_vitamin_e }}">
                    {{ user_data.get('vitamin E', 0) }} / {{ recommended_vitamin_e }} mg
                </div>
            </div>
        </div>
    
        <div class="mt-3">
            <label for="vitaminC">Vitamine C:</label>
            <div class="progress">
                {% set recommended_vitamin_c = nutrition_data.get(age_group, {}).get(sex, {}).get('Vitamin C', 0) %}
                <div class="progress-bar" role="progressbar"
                     style="width: {{ (user_data.get('vitamin C', 0) / recommended_vitamin_c) * 100 }}%"
                     aria-valuenow="{{ user_data.get('vitamin C', 0) }}"
                     aria-valuemin="0" aria-valuemax="{{ recommended_vitamin_c }}">
                    {{ user_data.get('vitamin C', 0) }} / {{ recommended_vitamin_c }} mg
                </div>
            </div>
        </div>
    </div>

    <button id="show-more" class="btn btn-primary mt-3 mb-3">Afficher plus</button>

    <div class="mt-3">
        <form method="POST" action="{{ url_for('update_nutrition_route') }}">
            <input type="number" name="change" placeholder="Calories">
            <input type="hidden" name="nutrient" value="calories"> <!-- changez pour proteins ou fats selon le cas -->
            <button type="submit" class="btn btn-secondary">Modifier</button>
        </form>
    </div>

    <div class="mt-3">
        <form method="POST" action="{{ url_for('update_nutrition_route') }}">
            <input type="number" name="change" placeholder="Protéines">
            <input type="hidden" name="nutrient" value="proteins"> <!-- changez pour proteins ou fats selon le cas -->
            <button type="submit" class="btn btn-secondary">Modifier</button>
        </form>
    </div>

    <!-- Formulaire pour réinitialiser les valeurs nutritionnelles -->
    <div class="mt-3 mb-3">
        <form method="POST" action="{{ url_for('reset_nutrition_route') }}">
            <button type="submit" class="btn btn-primary">Nouvelle Journée</button>
        </form>
    </div>

    <script>
    document.getElementById('show-more').addEventListener('click', function () {
        var container = document.getElementById('additional-nutrients');
        var button = document.getElementById('show-more');

        container.classList.toggle('hidden');

        if (button.innerText === 'Afficher plus') {
            button.innerText = 'Afficher moins';
        } else {
            button.innerText = 'Afficher plus';
        }
    });
    </script>

    <script>
        var ingredientUnits = {{ ingredient_units | tojson | safe }};

        function updateUnit() {
            var ingredientName = document.getElementById('ingredient_name').value;
            var unitField = document.getElementById('ingredient_unit');
            unitField.value = ingredientUnits[ingredientName] || '';
        }
    </script>

</div>
{% endblock %}
