{% extends 'base.html' %}

{% block body %}
<div class="container mt-5">
    {% if confirmation %}
    <div class="alert alert-success" role="alert">
        Votre profil a été mis à jour avec succès !
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title"><i class="fas fa-user"></i> Profil de l'utilisateur</h3>
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('user_profile') }}">
                        <div class="form-group">
                            <label for="firstName">Prénom</label>
                            <input type="text" class="form-control" id="firstName" name="firstName"
                                   placeholder="Entrez votre prénom" value="{{ user_data.get('firstName', '') }}">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Nom</label>
                            <input type="text" class="form-control" id="lastName" name="lastName"
                                   placeholder="Entrez votre nom" value="{{ user_data.get('lastName', '') }}">
                        </div>
                        <div class="form-group">
                            <label for="sex">Sexe</label>
                            <select class="form-control" id="sex" name="sex">
                                <option value="">Sélectionnez...</option>
                                <option value="Female" {% if user_data.get(
                                'sex') == 'Female' %}selected{% endif %}>Femme</option>
                                <option value="Male" {% if user_data.get(
                                'sex') == 'Male' %}selected{% endif %}>Homme</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="age">Âge</label>
                            <input type="number" class="form-control" id="age" name="age" placeholder="Entrez votre âge"
                                   value="{{ user_data.get('age', '') }}">
                        </div>
                        <div class="form-group">
                            <label for="dietaryRestrictions">Restrictions alimentaires:</label><br>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="vegetarian" id="vegetarian"
                                       name="dietaryRestrictions" {% if 'vegetarian' in
                                user_data.get('dietaryRestrictions', []) %}checked{% endif %}>
                                <label class="form-check-label" for="vegetarian">
                                    Végétarien
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="vegan" id="vegan"
                                       name="dietaryRestrictions" {% if 'vegan' in user_data.get('dietaryRestrictions',
                                []) %}checked{% endif %}>
                                <label class="form-check-label" for="vegan">
                                    Végétalien
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="glutenFree" id="glutenFree"
                                       name="dietaryRestrictions" {% if 'glutenFree' in
                                user_data.get('dietaryRestrictions', []) %}checked{% endif %}>
                                <label class="form-check-label" for="glutenFree">
                                    Sans gluten
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="dairyFree" id="dairyFree"
                                       name="dietaryRestrictions" {% if 'dairyFree' in
                                user_data.get('dietaryRestrictions', []) %}checked{% endif %}>
                                <label class="form-check-label" for="dairyFree">
                                    Sans produits laitiers
                                </label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary mt-3"><i class="fas fa-save"></i> Mettre à jour le
                            profil
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h3 class="mt-4">Suivi des AJR</h3>

    <div class="mt-3">
        <label for="calories">Calories:</label>
        <div class="progress">
            {% set sex = 'Male' if user_data.get('sex', 'Male') == 'Male' else 'Female' %}
            {% set recommended_calories = nutrition_data.get(age_group, {}).get(sex, {}).get('Calories', 0) %}

            <div class="progress-bar" role="progressbar"
                 style="width: {{ (user_data.get('calories', 0) / recommended_calories) * 100 }}%"
                 aria-valuenow="{{ user_data.get('calories', 0) }}"
                 aria-valuemin="0" aria-valuemax="{{ recommended_calories }}">
                {{ user_data.get('calories', 0) }} / {{ recommended_calories }}
            </div>
        </div>
    </div>


    <div class="mt-3">
        <label for="proteins">Protéines:</label>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75"
                 aria-valuemin="0" aria-valuemax="100">75%
            </div>
        </div>
    </div>

    <div class="mt-3">
        <label for="fats">Lipides:</label>
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0"
                 aria-valuemax="100">30%
            </div>
        </div>
    </div>

    <!-- Buttons to adjust calorie count -->
    <div class="mt-3">
        <button type="button" class="btn btn-secondary" onclick="updateCalories(-100)">-100</button>
        <button type="button" class="btn btn-secondary" onclick="updateCalories(100)">+100</button>
    </div>
    <div class="mt-3">
        <button type="button" class="btn btn-primary" onclick="startNewDay()">Nouvelle Journée</button>
        <p id="newDayMessage"></p> <!-- Message area -->
    </div>

    <!-- Script to handle button clicks -->
    <script>
        function updateCalories(change) {
            // Obtenez l'actuelle valeur des calories
            var currentCalories = parseInt(document.querySelector('.progress-bar').getAttribute('aria-valuenow'));

            // Calculez les nouvelles calories
            var newCalories = Math.max(0, currentCalories + change); // Assurez-vous que les calories ne deviennent pas négatives

            // Mettez à jour la barre de progression et le texte avec la nouvelle valeur des calories
            var recommendedCalories = {{ recommended_calories }}; // Assurez-vous que cette variable est définie dans le template
            var progressBar = document.querySelector('.progress-bar');
            progressBar.style.width = (newCalories / recommendedCalories) * 100 + '%';
            progressBar.setAttribute('aria-valuenow', newCalories);
            progressBar.textContent = newCalories + ' / ' + recommendedCalories;

            // Envoie la nouvelle valeur des calories au serveur (si nécessaire)
            // ...
        }
function startNewDay() {
    // Obtenir la valeur actuelle des calories
    var currentCalories = parseInt(document.querySelector('.progress-bar').getAttribute('aria-valuenow'));

    // Mettre à jour la valeur des calories pour qu'elle soit zéro
    updateCalories(-currentCalories);

    // Afficher le message de nouvelle journée
    document.getElementById('newDayMessage').innerText = "Let's start a new day together!";
}

    </script>

</div>
{% endblock %}
